doctype html
html
    head
        title test
    body
        input#ff(type="file")
        audio#aa
        canvas#cc
        script(src='../dist/index.js')
        script
            | var av=new AudioVisual(ff,aa,cc);